{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}Blogs{% endblock %}
{% block content %}

    <div class="blog-card">
        <div class="blog-header">
            <h1>{{ blog_post.title }}</h1>
        </div>
        <div class="blog-body">
            <p><strong>Author:</strong> {{ blog_post.author.username }}</p>
            <p><strong>Place:</strong> {{ blog_post.place.name }}</p>
            <p><strong>Created at:</strong> {{ blog_post.created_at }}</p>
            <br>
            <p><strong>Content:</strong></p>
            <pre style="white-space: pre-wrap;">{{ blog_post.content }}</pre>
            <br>
            {% if blog_post.image %}
                <img src="{{ blog_post.image.url }}" class="blog-image" alt="blog_image">
            {% endif %}
        </div>
    </div>

    <style>
        .blog-card {
            width: 100%;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }

        .blog-header {
            {#background-color: #f8f9fa;#}
            padding: 10px;
            {#border-bottom: 1px solid #dee2e6;#}
        }

        .blog-body {
            padding: 20px;
        }

        .blog-image {
            {#width: 100%;#}
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    </style>

{% endblock %}
